<p id="notice"><%= notice %></p>

<h1>Padawans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @padawans.each do |padawan| %>
      <tr>
        <td><%= padawan.name %></td>
        <td><%= link_to 'Show', padawan %></td>
        <td><%= link_to 'Edit', edit_padawan_path(padawan) %></td>
        <td><%= link_to 'Destroy', padawan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Padawan', new_padawan_path %>
